* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: rgb(4, 19, 115);
    border-radius: 110px;
    font-size: 1.5rem;
    color: #d82424;
    cursor: pointer;
    transition: cubic-bezier(0.198, 0.85, 0.185, 4) 8s;
  }
  
  .hover {
    transform: scale(2);
  }

  body{

    background-color: aqua;
  }